@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif !important;
  
    background-color: #8EC5FC !important;
      background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  

  background-size: contain;
  background: no-repeat;
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.centered{
  display: flex;
  flex-direction: column !important;
}

.navbar{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.navLink{
  padding: 20px;
  color: black;
  text-decoration: none;
}

.navLink:hover{
  color: slategray;
}

.navLinkCaro{
  padding: 20px;
  color: black;
  text-decoration: underline ;
}


.pieChart {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.pieChartCol {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.opacity{
  opacity: 0.3;
  width: 100%;
}

.blackText{
  color: black;
}

.carousel {
  padding: 25px;
}

.fixedHeight{
  height: 60vh;
}

.form{
  text-align: center;
}

.logout{
  margin: 20px !important;
  background-color: red !important;
  border: none !important;
}

.button{
  margin: 10px !important;
}

* {
  box-sizing: border-box;
}



/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  display: flex;
  flex-direction: column;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-item {
  display: inline-block;

  color: #d1d1d1;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #ffffff;
}

.hideUnlessMobile{
  display: none;
}

.scoreContainer{
  display: flex;
  flex-direction: column;
}

.stat_container {
  display: flex;
  flex-direction: row;
}

.greens, .fairways, .putts, .shortgame{
  width: 33%;
  text-align: center;
  padding: 25px;
  margin: 10px;
-webkit-box-shadow: 5px 5px 14px -7px #8F8F8F;
  box-shadow: 5px 5px 14px -7px #8F8F8F;
}

.mobileScore{
  border: 2px outset #696969;
  margin: 10px;
  padding: 10px;
}

.center{
  text-align: center;
}

.mobileButton{
  margin: 5px;
}

.logo{
  color: red
}

.hidden{
  display: none;
}

.scoreButton{
  margin-top: 10px;
}

@media (max-width: 767px){
  .hideUnlessMobile{
    display: block;
  }
  .navbar{
    display: none !important;
  }

  .container{
    padding-top: 70px;
  }

  .hide{
    display: none;
  }

    .stat_container {
      display: flex;
      flex-direction: column;
    }

    .greens,
    .fairways,
    .putts,
    .shortgame {
      width: 100%;
      
    }
}